<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% load bootstrap3 %} {% bootstrap_javascript %} {% bootstrap_css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stronaGlowna/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stronaGlowna/socialMedia.css' %}" />
<script src="https://use.fontawesome.com/b38578f436.js"></script>

<div class="pasek_logowania">
    {% if user.is_authenticated %} Użytkownik: {{ user.get_username }}
    <a href="/logout">Wyloguj</a>{% else %}
    <div>
        <a href="/login">Zaloguj</a>
        <a href="/register">Zarejestruj</a>
    </div>
    {% endif %}

</div>
<nav class="navbar navbar-default menu">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/">Strona główna</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/kolejki">Terminarz</a></li>
            <li><a href="/teams">Drużyny</a></li>
            <li><a href="/statistic/teams">Tabela</a></li>
            <li><a href="/statistic/players">Najlepsi strzelcy</a></li>
        </ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container well">
  {% block content %} {% endblock %}
</div>
 
</div>
<footer class="panel-footer panel-default">
    Follow us on 
   <i class="fa fa-facebook"></i>
   <i class="fa fa-google-plus"></i>
   <i class="fa fa-twitter"></i> 
   <i class="fa fa-youtube"></i> 
</footer>