{% extends 'base.html'%} {% block content %}
<h1>Statystyki</h1>
<a href="players">Statystyki graczy</a> <br/>
<a href="teams">Statystyki druzyn</a> <br/>
<a href="a">Statystyki gracza w meczu</a> <br/>
<a href="/">Powrót</a> {% endblock %}