{% extends 'base.html'%} {% block content %}
<h1>Statystyki Graczy</h1>

<div>
    <table class="table col-md-2 table-striped">
        <thead>
            <th>Piłkarz</th>
            <!--<th>Drużyna</th>-->
            <th>Bramki</th>
            <th>Żółte kartki</th>
            <th>Czerwone kartki</th>
        </thead>
        {% for player in player_list %}

        <tbody>
            <td>{{player.name}} {{player.surname}}</td>
            <!--<td>{{player.team_id}}</td>-->
            <td>{{player.goals}}</td>
            <td>{{player.yellow_cards}}</td>
            <td>{{player.red_cards}}</td>
        </tbody>
        {% endfor %}
    </table>
    <a href="/statistic">Powrót</a> 

{% endblock %}