{% extends 'base.html'%} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kolejki/style.css' %}" />
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3> </h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>surname</th>
                        <th>team_id</th>
                        <th>match_id </th>
                        <th>goals</th>
                        <th>yellow_cards</th>
                        <th>red_cards</th>
                        <th>second_yellow_cards</th>
                    </tr>
                </thead>
                {%for sp in all_stats %}
                <tr class="match-row">
                    <td class="match-day">
                        {{sp.name}}
                    </td>
                    <td>
                        {{sp.surname}}
                    </td>
                    <td>
                        {{sp.team_id}}
                    </td>
                    <td>
                        {{sp.match_id}}
                    </td>
                    <td>
                        {{sp.goals}}
                    </td>
                    <td>
                        {{sp.yellow_cards}}
                    </td>
                    <td>
                        {{sp.red_cards}}
                    </td>
                    <td>
                        {{sp.second_yellow_cards}}
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <a href="/">Powrót</a>
    </form>
</div>
{% endblock %}