{% extends 'base.html'%} {% block content %}
<h2>Tabela </h2>
<div class="" >
    <table class="table col-md-6 table-striped">
        <thead>
            <th>Druzyna</th>
            <th>Punkty</th>
            <th>Zagrane</th>
            <th>Wygrane</th>
            <th>Remisy</th>
            <th>Przegrane</th>
            <th>Bramki</th>
        </thead>
        {% for team in team_list %}
        
        <tbody>
            <td>{{team.name}}</td>
            <td>{{team.points}}</td>
            <td>{{team.matches}}</td>
            <td>{{team.win}}</td>
            <td>{{team.draw}}</td>
            <td>{{team.lose}}</td>
            <td>{{team.goals}}</td>
        </tbody>
        {% endfor %}
    </table>
    <a href="/statistic">Powrót</a> 
</div>
{% endblock %}