body
{
     background: url(1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
    margin: 0 0 100px; /* bottom = footer height */
    padding-bottom: 20px;

    
}
h1, h2, h3
{
     border-bottom: 1px solid #eee;
     margin-bottom: 20px;
     padding-bottom: 9px;  
}
.pasek_logowania{
    background-color: #414141;
    text-align: right;
    color: white;
}
.pasek_logowania a
{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
}
.menu
{
    
}
.menu a {
    font-size:20px;
}
footer {
 background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
html {
    position: relative;
    min-height: 100%;
}

