
{% extends 'base.html'%} {% block content %} {% if error_message %}

{% extends 'validateUser.html'%} {% block content %} {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    <div class="container">
        <div class="row">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token%} {% include 'kolejki/form_template.html'%}
                    <div class="form-group">
                        <button type="submit" class="btn btn-submit">Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>>
    {%endblock%}