{% extends 'base.html'%} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kolejki/style.css' %}" /> {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <h3> Kolejka</h3>
            {% if queue.queue.match_set.all.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Dzień</th>
                        <th></th>
                        <th>Gospodarz</th>
                        <th>wynik</th>
                        <th>Gość</th>
                        <th></th>

                    </tr>
                </thead>
                {%for match in queue.queue.match_set.all %}
                <tr>
                    <td>
                        {{match.matchDate.day}}.{{match.matchDate.month}} {{match.matchDate.time.hour}}:00
                    </td>
                    </td>
                    <td>
                        <img class="logo" src="{% static 'kolejki/' %}{{ match.home.id}}.jpg" alt="">
                    </td>
                    <td>
                        <a href="{% url 'kolejki:matchdetails' match.id %} "> {{match.home}}</a>
                    </td>
                    <td>xd</td>
                    <td>
                        {% if currentDate <= match.matchDate %} 
                        <a href="{% url 'kolejki:matchdetails' match.id %} "> - : - </a>
                            {% else %}
                            <a href="{% url 'kolejki:matchdetails' match.id %} ">  {{match.homeGoals}} : {{match.awayGoals}} </a>                        
                                {% endif %}

                    </td>
                    <td>
                        <a href="{% url 'kolejki:matchdetails' match.id %} ">   {{match.away}} </a>
                    </td>
                    <td>
                        <img class="logo" src="{% static "kolejki/" %}{{ match.away.id}}.jpg" alt="">
                    </td>
                    {% if not user.is_authenticated %} 
    {% else %} 
        {% for group in user.groups.all %} 
            {% if group.name == 'Organizer' or group.name == 'Admin' %} 
                <td>
                        <form action="{% url 'kolejki:match-data-update' match.id %}">
                            <button type="submit" class="btn btn-submit button btn-sm">Szczegóły</button>
                        </form>
                        <form action="{% url 'kolejki:matchdetails' match.id %}update">
                            <button type="submit" class="btn btn-submit button btn-sm"> Edytuj</button>
                        </form>
                        <form action="{% url 'kolejki:matchdetails' match.id %}delete">
                            <button type="submit" class="btn btn-danger button btn-sm from-button"> Usun</button>
                        </form>
                    </td>
            {% else %}
            {% endif %} 
        {% endfor %} 
    {% endif %}
                   

                </tr>
                {%endfor%}
            </table>
            {% else %}
            <h3> Nie istnieje żaden mecz</h3>
            {% endif %}
        </div>
    </div>
    <a href="/kolejki/">Powrót</a>
    </form>
    {% endblock %}