{% extends 'base.html'%} {% block content %}
    <h1>Terminarz</h1>
    {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    {% if allQueues%}
    <div class="table">
        <ul class="list-group">
            {% for queue in allQueues %}
            <li class="list-group-item"><a href="{% url 'kolejki:details' queue.id %}"> Kolejka rozpoczynająca się w {{queue.startDate}}</a></li>
            {% endfor %}
        </ul>
        <br/> {% else%}
        <h3> Nie istnieje żadna kolejka</h3>
        {% endif%}
    </div>
    <h2>Generuj kolejki</h2>
    <a href=" {%  url 'kolejki:queue-generate' %} ">Generuj</a>
    <br/>
    <a href="/">Powrót</a>
{% endblock %}