{% extends 'base.html'%} {% block content %} 
<div class="container">
    {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    <h1> Wszystkie mecze </h1>
    <ul class="list-group col-md-6">
        {% for match in allMatches %}
        <li class="list-group-item"> <a href=" {%  url 'kolejki:matchdetails' match.id  %} "> {{ match }} </a></li>
        {% endfor %}
    </ul>
    <a href="/">Powrót do strony głównej</a> {% endblock %}