{% extends 'base.html'%} {% block content %}
{% if error_message %}
    <p><strong>{{error_message}}</p></strong> {% endif %}
        <h2 class="page-header">Mecz {{match.match.home }} {{match.match.homeGoals}} vs {{match.match.awayGoals}} {{match.match.away}}</h2>
<div class="row">
    <div class="col-md-6">
<table class="table table-striped">
                <thead>
                    <th>Piłkarz</th>
                    <th>Bramki</th>
                    <th>Żółte kartki</th>
                    <th>Czerwone kartki</th>
                </thead>
                <h3>{{match.match.home.name}}</h1>
                    {% for p in match.match.home.player_set.all %} {% for ps in playerStatistics %} 
                    {% if p.name == ps.name and p.surname == ps.surname and p.team.pk == ps.team_id %}
                    <tbody>
                        <td>{{ps.name}} {{ps.surname}}</td>
                        <td>{{ps.goals}}</td>
                        <td>{{ps.yellow_cards}}</td>
                        <td>{{ps.red_cards}}</td>
                    </tbody>
                    {% else %} {% endif %} {% endfor %} {% endfor %}
                    </table>
    </div>
        <div class="col-md-6">
        
            <table class="table table-striped">
                <thead>
                    <th>Piłkarz</th>
                    <th>Bramki</th>
                    <th>Żółte kartki</th>
                    <th>Czerwone kartki</th>
                </thead>
                <h3>{{match.match.away.name}}</h1>
                    {% for p in match.match.away.player_set.all %} {% for ps in playerStatistics %} 
                    {% if p.name == ps.name and p.surname == ps.surname and p.team.pk == ps.team_id %}

                    <td>{{ps.name}} {{ps.surname}}</td>
                    <td>{{ps.goals}}</td>
                    <td>{{ps.yellow_cards}}</td>
                    <td>{{ps.red_cards}}</td>
                    </tbody>
                    {% else %} 
                    {% endif %} 
                    {% endfor %}
                     {% endfor %}
                     </table>
    </div>
  
</div>
          
<a href="/kolejki/matches">Powrót</a> {% endblock %}