 {% extends 'validateUser.html'%} {% block content %}  
<h2 class="page-header">Generowanie kolejek</h2>
{% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
<form action="" method="POST">
    {% csrf_token%}
    <input type="submit" value="Generuj" />
</form>
{% endblock %}