{% extends 'validateUser.html'%} {% block content %}
<h1>Dodawanie Druzyn</h1>
{% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    <form action="{% url 'teams:add' %}" method="POST">
        {% csrf_token %} Name:
        <br>
        <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
{%endblock%}