 {% extends 'base.html'%} {% block content %}
<div class="container">
    {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    <h1>{{team.name}}</h1>
    <ul class="list-group">
        {% for player in team.player_set.all %}
        <li class="list-group-item">{{player.name}} {{player.surname}}
             {% if not user.is_authenticated %}
    {% else %} 
        {% for group in user.groups.all %} 
            {% if group.name == 'Organizer' or group.name == 'Admin' %} 
                 <div class="btn-group">
                <form action="{% url 'teams:player-update' player.id %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-submit button btn-sm from-button"> Edytuj</button>
                    <button type="submit" formaction="{% url 'teams:player-delete' player.id %}" class="btn btn-danger button btn-sm from-button"> Usun</button>
                </form>
            </div>
            {% else %}
           
            {% endif %} 
        {% endfor %} 
    {% endif %}
           
        </li>
        {% endfor %}
    </ul>
        {% if not user.is_authenticated %}
    {% else %} 
        {% for group in user.groups.all %} 
            {% if group.name == 'Organizer' or group.name == 'Admin' %} 
                 <div class="btn-group">
                <form action="{% url 'teams:player-add' %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-submit button btn-sm from-button"> Dodaj</button>
                </form>
                <form action="{% url 'teams:team-delete' team.pk %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-danger button btn-sm from-button"> Usun</button>
                </form>
            </div>
            {% else %}
           
            {% endif %} 
        {% endfor %} 
    {% endif %}
    <a href="/teams">Powrót</a> {% endblock %}
</div>