 {% extends 'base.html'%} {% block content %}
<div class="container">
    {% if error_message %}
<p><strong>{{error_message}}</p></strong> {% endif %}
    {%if all_teams %}
    <h3>Team list:</h3>
    <div class="col-md-6">
        <ul class="list-group">
            {%for team in all_teams%}
            <li class="list-group-item">
                <a href="{% url 'teams:detail' team.id %}">{{team.name}}</a>
            </li>
            {% endfor %}
        </ul>
          {% if not user.is_authenticated %}
    {% else %} 
        {% for group in user.groups.all %} 
            {% if group.name == 'Organizer' or group.name == 'Admin' %} 
                 <div class="btn-group">
                <form action="{% url 'teams:team-add' %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" class="btn btn-submit button btn-sm from-button"> Dodaj</button>
                </form>
            </div>
            {% else %}
           
            {% endif %} 
        {% endfor %} 
    {% endif %}
        <a href="/">Powrót</a>
    </div>
    {%else%}
    <h3>No teams in database</h3>
    {%endif%}
     {% endblock %}
</div>