 {% extends 'validateUser.html'%} {% block content %}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {% include "teams/form-template.html" %}
    <div class='form-group'>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{%endblock%}