{% extends 'base.html'%} 
{% block content %}

{{currentDate}}
 <h2>Aktualna kolejka</h2>
 {% load static %}
 {% if queue.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Dzień</th>
                        <th></th>
                        <th>Gospodarz</th>
                        <th>wynik</th>
                        <th>Gość</th>
                        <th></th>
                    </tr>
                </thead> 
                {%for match in queue %}
                <tr class="match-row">
                    <td class="match-day">
                        {{match.matchDate.day}}.{{match.matchDate.month}} {{match.matchDate.time.hour}}:00
                    </td>
                    </td>
                    <td>
                         <img  class="logo"src="{% static "kolejki/" %}{{ match.home.id}}.jpg" alt="">
                    </td>
                    <td>
                        <a href="{% url 'kolejki:matchdetails' match.id %} "> {{match.home}}</a>
                    </td>
                    <td>
                        {% if currentDate <= match.matchDate %}

                        <a href="{% url 'kolejki:matchdetails' match.id %} ">  - : - </a>
                        {% else %}
                        <a href="{% url 'kolejki:matchdetails' match.id %} ">  {{match.homeGoals}} : {{match.awayGoals}} </a>
                        {% endif %}
                        
                    </td>
                    <td>
                        <a href="{% url 'kolejki:matchdetails' match.id %} ">   {{match.away}} </a>
                    </td>
                     <td>
                         <img  class="logo"src="{% static "kolejki/" %}{{ match.away.id}}.jpg" alt="">
                    </td>
                </tr>
                {%endfor%}
            </table>
            {% else %}
              <h3> Nie istnieje żaden mecz</h3>
            {% endif %}

   
 {% endblock %}