{% extends 'base.html'%} {% block content %}
{% if user.is_authenticated  %}
    <h3>Jesteś już zalogowany</h3>
{% else %}
    <div class="container">
        <h1>Rejestracja</h1>
    </div>
    <form class="form-horizontal" role="form" action="" method="POST">
        {% csrf_token %} {% include 'stronaGlowna/form_template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Zatwierdź</button>
            </div>
        </div>
    </form>
{%endif%}
{% endblock %}