{% extends 'base.html' %} {% block title %}Login{% endblock %} 
{% block content %} 
{% if user.is_authenticated %}
  <h3>Jesteś już zalogowany</h3>
{% else %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class= "btn btn-submit">Login</button>
  </form>
{%endif%} 
{% endblock %}